# PostgreSQL + Python

#### After this encounter we will have covered
* using `sqlalchemy` (CORE) for connecting to a DB and applying `CRUD`
* combining `sqlalchemy` and `pandas`

In [ ]:
# conda install -c anaconda sqlalchemy
# conda install -c anaconda psycopg2

In [3]:
import pandas as pd 
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings(action='ignore')

### PART 1: Connect to the database

#### 1.1. In order to connect to any database, we need...

1. Username
2. Password
3. Port
4. Database
5. Host

In [5]:
USER = 'postgres'
PW = 1103
PORT = 5432
HOST = 'localhost'
DB = 'books'

#### 1.2. Create a connection string ("URL" for our database)

In [7]:
url=f'postgresql://{USER}:{PW}@{HOST}:{PORT}/{DB}'

#### 1.3. Connect to your `northwind` database

In [8]:
conn=create_engine(url)

### Part 2: Run queries

#### 2.1. Execute your first queries in raw text form directly from sqlalchemy

Check rows ("tuples") of "regions"-table:

In [9]:
query_regions="""
select * from region;
"""

In [11]:
conn.execute(query_regions).all()

[(1, 'Eastern'), (2, 'Western'), (3, 'Northern'), (4, 'Southern')]

Now **update** your (local) northwind DB with an additional relation

In [12]:
query_t="""
create table fruit(
id serial primary key,
name varchar(20) not null,
color varchar(20)
);
"""

In [13]:
conn.execute(query_t)

In [42]:
query_2="""
DROP TABLE order_first;
"""

In [43]:
conn.execute(query_2)

Now go check in your database to make sure it worked!

#### 2.2. Compare: updating DB with pandas...

We'll use three of the Pandas functions that are similar to things you've already seen, `.to_sql`, `.read_sql_table`, `.read_sql_query`.

Let's first load some data from our northwind CSVs.

In [14]:
PATH = '/Users/akshayrote/Documents/spiced_Acadamy/Daily_Task/week05/North_wind_data/orders.csv'

In [16]:
order=pd.read_csv(PATH)
order

,orderID,customerID,employeeID,orderDate,requiredDate,shippedDate,shipVia,freight,shipName,shipAddress,shipCity,shipRegion,shipPostalCode,shipCountry
0,10248,VINET,5,1996-07-04 00:00:00.000,1996-08-01 00:00:00.000,1996-07-16 00:00:00.000,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France
1,10249,TOMSP,6,1996-07-05 00:00:00.000,1996-08-16 00:00:00.000,1996-07-10 00:00:00.000,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,NaN,44087,Germany
2,10250,HANAR,4,1996-07-08 00:00:00.000,1996-08-05 00:00:00.000,1996-07-12 00:00:00.000,2,65.83,Hanari Carnes,Rua do Paço 67,Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08 00:00:00.000,1996-08-05 00:00:00.000,1996-07-15 00:00:00.000,1,41.34,Victuailles en stock,2 rue du Commerce,Lyon,NaN,69004,France
4,10252,SUPRD,4,1996-07-09 00:00:00.000,1996-08-06 00:00:00.000,1996-07-11 00:00:00.000,2,51.30,Suprêmes délices,Boulevard Tirou 255,Charleroi,NaN,B-6000,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,11073,PERIC,2,1998-05-05 00:00:00.000,1998-06-02 00:00:00.000,NaN,2,24.95,Pericles Comidas clásicas,Calle Dr. Jorge Cash 321,México D.F.,NaN,05033,Mexico
826,11074,SIMOB,7,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,2,18.44,Simons bistro,Vinbæltet 34,Kobenhavn,NaN,1734,Denmark
827,11075,RICSU,8,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,2,6.19,Richter Supermarkt,Starenweg 5,Genève,NaN,1204,Switzerland
828,11076,BONAP,4,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,2,38.28,Bon app',12 rue des Bouchers,Marseille,NaN,13008,France
829,11077,RATTC,1,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA

In [22]:
order_berlin=order[order.shipCity=='Berlin'][['shipCity','shipVia','shipName']]
order_berlin

    shipCity  shipVia              shipName
395   Berlin        1   Alfreds Futterkiste
444   Berlin        2  Alfred's Futterkiste
454   Berlin        1  Alfred's Futterkiste
587   Berlin        3  Alfred's Futterkiste
704   Berlin        1  Alfred's Futterkiste
763   Berlin        1  Alfred's Futterkiste

`.to_sql`

In [23]:
order_berlin.to_sql('order_first',conn)

6

* Instead of replacing, can also `append` or `fail`.

Look at your table description in `psql`. What do you notice?

`.read_sql_query`

Let's read data from the northwind DB using pandas

`.read_sql_table`

#### Let's connect to the cloud:

In [24]:
# swap here for your credentials and host/DB identifiers
USER = 'postgres'
PW = 'postgres'
PORT = 5432
HOST = 'decision-dill.ccolhxp6cgj8.eu-central-1.rds.amazonaws.com'
DB = 'northwind_pradnya'

In [25]:
url1=f'postgresql://{USER}:{PW}@{HOST}:{PORT}/{DB}'

In [26]:
conn1=create_engine(url1)

In [27]:
query_new="""
select * from Products;
"""

In [31]:
data=conn1.execute(query_new).all()

In [33]:
type(data)

list

In [35]:
df=pd.DataFrame(data)
df

,product_id,product_name,supplier_id,category_id,quantity_per_unit,unit_price,units_in_stock,reorder_level,units_on_order,discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
72,73,Röd Kaviar,17,8,24 - 150 g jars,15.00,101,0,5,0
73,74,Longlife Tofu,4,7,5 kg pkg.,10.00,4,20,5,0
74,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75,125,0,25,0
75,76,Lakkalikööri,23,1,500 ml,18.00,57,0,20,0
76,77,Original Frankfurter grüne Soße,12,2,12 boxes,13.00,32,0,15,0

In [ ]:
# conn_cloud.execute(query_cloud).all() => this should work for you, cos you have already filled out your northwind DB on the cloud

This was just a quick introduction into sqlalchemy. In its full functionality it is a very powerful toolkit. If you are interested in learning more, or are working with databases in Python, start here: https://docs.sqlalchemy.org/en/13/core/tutorial.html

Things you can expect: `Table`, `Column`, `ForeignKey` objects, `.insert()`, `.select()`, `.join()` methods.